# Copy this file to .env.local to override defaults
# You can also set these variables in your system environment

# endpoint used by getWeather function (open-meteo API)
REACT_APP_WEATHER_URL=https://api.open-meteo.com/v1/forecast?latitude=40.7128&longitude=-74.0060&current_weather=true
